[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
pillow = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
redis = "*"
celery = "*"
flower = "*"
python-dotenv = "*"
drf-spectacular = "*"

[dev-packages]

[requires]
python_version = "3.10"
