[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
pillow = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
redis = "*"
celery = "*"
flower = "*"
python-dotenv = "*"
drf-spectacular = "*"
django-split-settings = "*"

[dev-packages]
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.10"

[tool.isort]
multi_line_output = 5
line_length = 130

# [tool.yapf]
# based_on_style = "google"
# align_closing_bracket_with_visual_indent = true
# coalesce_brackets = true
# column_limit = 130
# dedent_closing_brackets = true
